    @charset "UTF-8";
    * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    main {
        width: 100vw;
        height: 100vh;
        background-image: url(img/bg.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }
    
    article {
        width: 500px;
        height: 200px;
        background-color: rgb(164, 127, 86);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgb(34, 24, 12);
        overflow: hidden;
        padding: 5px;
    }
    
    article h1 {
        font-size: 40px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.692);
    }
    
    .count {
        width: 200px;
        background-color: #fff;
        height: 40px;
        border-radius: 2px;
        color: black;
    }